---
layout: default
---

<style>
  .page__hero--overlay {
    height: 300px;
  }
  
  .page__hero--image {
    height: 300px;
  }
  
  @media (max-width: 600px) {
    .page__hero--overlay,
    .page__hero--image {
      height: 200px;
    }
  }
</style>

{% include page__hero.html %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html }}">{% endif %}

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>
  </article>
</div>
