---
layout: default
---

{% if page.header.image %}
  <div class="page__hero--overlay" style="background-image: url('{{ page.header.image | relative_url }}'); height: 300px; max-height: 300px;">
    <div class="wrapper" style="height: 300px; display: flex; flex-direction: column; justify-content: center;">
      {% if page.title %}<h1 class="page__title">{{ page.title }}</h1>{% endif %}
      {% if page.header.caption %}<p class="page__lead">{{ page.header.caption | markdownify }}</p>{% endif %}
      {% if page.header.actions %}
        <div class="page__hero-actions">
          {% for action in page.header.actions %}
            <a href="{{ action.url | relative_url }}" class="btn btn--large btn--primary">{{ action.label }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html }}">{% endif %}

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>
  </article>
</div>
